<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>


</head>
<body>
<h1>USER TO CREATE:</h1>

<form method="POST" th:action="@{/user/create}" th:object="${user}">

    <span>NAME: </span> <input type="text" id="name" th:field ="*{name}">
    <br><br>
    <span>SURNAME: </span> <input type="text" id="surname" th:field ="*{surname}">
    <br><br>
    <span>AGE: </span> <input type="text" id="age" th:field ="*{age}">
    <br><br>
    <span>SEX: </span> <input type="text" id="sex" th:field ="*{sex}">
    <br><br>
    <span>PROPERTY_ID: </span> <input type="text" id="propertyId" th:field ="*{property.id}">
    <br><br>
    <input type="submit" value="Create">

</form>
</body>
</html>
